.socialcontainer {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 100%;
  background-color: white;
  padding-top: 50px;
}
.socialcontainer2 {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../../graphics/clouds.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.socialtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.socialsection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 1400px;
  height: 600px;
}
.socialsection12 {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(3, 36, 0, 1) 0%,
    rgba(9, 121, 37, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 50px;
}
.socialsection2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 1400px;
  height: 800px;
}
.test {
  width: 550px;
}
.is2_right {
  padding-left: 50px;
  width: 700px;
}
.socialsection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 1600px;
}
.is3_inst {
  width: 900px;
}
.is3_img {
  display: flex;
  gap: 50px;
}
.food,
.heart {
  width: 600px;
}
.socialsection4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1400px;
  height: 1000px;
}
.is4_twitch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  width: 700px;
  padding: 0px 50px 0px 50px;
}
.is4_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  width: 650px;
}
.is_link {
  color: green;
}
.is_link:hover {
  color: rgb(0, 65, 0);
}
.streamer {
  width: 700px;
}
.socialsection5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  width: 1400px;
  height: 900px;
}
.is5_youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
.is5_descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-right: 50px;
}
.is5_img {
  width: 700px;
  padding-left: 50px;
}
.gamer {
  width: 650px;
}
.socialsection6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 255, 179, 0.781);
  width: 1400px;
  height: 700px;
}
.socialsection7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 249, 159, 0.781);
  width: 1400px;
  height: 800px;
}
.socialsection8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 1400px;
  height: 800px;
}
.socialsection9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 1000px;
}
.socialsection10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(157, 255, 189);
  width: 1400px;
  height: 900px;
}
