.moneycontainer {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 100%;
  background-color: white;
}
.moneycontainer2 {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../../graphics/money4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.moneytext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.moneysection1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 1000px;
  height: 600px;
}
.money {
  font-size: 90px;
  font-family: Oswald;
}
.moneysection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 1000px;
}
.ms2_right {
  width: 650px;
  padding-left: 10px;
}
.moneysection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 1000px;
}
.moneysection4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 240, 223, 0.884);
  width: 1400px;
  height: 700px;
}
.moneysection5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(231, 255, 143, 0.781);
  width: 1400px;
  height: 900px;
}
.moneysection6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 255, 179, 0.781);
  width: 1400px;
  height: 900px;
}
.moneysection7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 249, 159, 0.781);
  width: 1400px;
  height: 1000px;
}
.moneysection8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 1400px;
  height: 1000px;
}
.moneysection9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 1000px;
}
.moneysection10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(157, 255, 189);
  width: 1400px;
  height: 1000px;
}
.money2 {
  width: 1400px;
}