.projectcontainer {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 100%;
  background-color: white;
}
.projecttext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.projectsection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 500px;
  padding-bottom: 150px;
}
.prbarber {
  width: 900px;
}
.prbarber2 {
  width: 1000px;
}
.projectsection12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 150px;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 900px;
}
.pr12_left {
  padding-right: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  text-align: left;
}
.pr12_right {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.pr12_img {
  width: 550px;
  height: 800px;
}
.projectsection2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(3, 36, 0, 1) 0%,
    rgba(9, 121, 37, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 1400px;
  height: 400px;
}
.projectsection23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 600px;
}
.projectsection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 1200px;
}
.pr3_title {
  padding-bottom: 200px;
}
.pr3_desc {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.pr3_description {
  padding-right: 100px;
}
.pr3_img_container {
  padding-left: 100px;
}
.pr3_img {
  width: 500px;
  height: 700px;
}
.projectsection4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.884);
  width: 1400px;
  height: 800px;
}
.pr4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  padding-top: 150px;
}

.projectsection5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.781);
  width: 1400px;
  height: 900px;
}
.projectsection6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.781);
  width: 1400px;
  height: 700px;
}
.pr6 {
  text-align: left;
  width: 600px;
  padding-right: 50px;
}
.projectsection7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.781);
  width: 1300px;
  height: 1500px;
}
.pr7_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projectsection8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 600px;
}
.projectsectionphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 600px;
}
.dinner_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dinner {
  width: 1000px;
  padding-top: 150px;
}
.dinnermaking {
  width: 800px;
}
.manyhands {
  width: 1100px;
}
.moneyinhand {
  width: 600px;
}
.time {
  width: 150px;
}
.trust {
  width: 190px;
}
.will {
  width: 220px;
}
.beach {
  width: 1400px;
}