.homecontainer {
  font-family: NotoSans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  background-color: white;
}
h1 {
  color: rgb(56, 56, 56);
  font-size: 34px;
}
