.homecontainer {
  font-family: NotoSans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  background-color: white;
}
.hometext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 720px;
  text-align: center;
}
.h1 {
  color: rgb(56, 56, 56);
  font-size: 55px;
}
