.homecontainer {
  font-family: Acme;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 100%;
  background-color: white;
}
.hometext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.homesectionbanner {
  background-color: bisque;
  width: 1400px;
  height: 800px;
}
.homesection2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 193, 116);
  width: 1400px;
  height: 400px;
}
.homesection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 235, 211);
  width: 1400px;
  height: 550px;
}
.homesection4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 240, 223, 0.884);
  width: 1400px;
  height: 650px;
}
.homesection5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(231, 255, 143, 0.781);
  width: 1400px;
  height: 400px;
}
.homesection6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 255, 179, 0.781);
  width: 1400px;
  height: 450px;
}
.homesection7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 249, 159, 0.781);
  width: 1400px;
  height: 600px;
}
.homesection8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 1400px;
  height: 600px;
}
.homesectionphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 500px;
}