.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  background-color: white;
  position: fixed;
}

.menuwrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  max-width: 1920px;
  background-color: white;
}
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home {
  display: flex;
  align-items: center;
  align-self: center;
}
