@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("./fonts/Ubuntu.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("./fonts/Oswald.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  font-family: Oswald;
  font-size: 32px;
  padding-left: 120px;
  padding-right: 120px;
  line-height: 42px;
}
.h1 {
  font-size: 55px;
  line-height: 55px;
}
.h12 {
  font-size: 60px;
  font-family: Ubuntu;
}
.h2 {
  font-size: 45px;
}
.h3 {
  font-size: 35px;
}
.h4 {
  font-size: 28px;
}
.h5 {
  font-size: 24px;
}
.h6 {
  font-size: 18px;
}
.p1 {
  padding-top: 300px;
}
.p12 {
  padding-top: 225px;
}
.p2 {
  padding-top: 150px;
}
.p3 {
  padding-top: 50px;
}
.p4 {
  padding-top: 25px;
}
.p5 {
  padding-top: 15px;
}
ul {
  list-style: none;
}
