@font-face {
  font-family: "Supernatural";
  src: local("Supernatural"), url("./fonts/Supernatural.ttf") format("truetype");
}

@font-face {
  font-family: "Macondo";
  src: local("Macondo"), url("./fonts/Macondo.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Macondo", "Supernatural",
    "NotoSans", "RobotoMono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
